@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'sqmarketmedium';
  src: url('../public/fonts/sqmarket-medium.woff2');
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../public/fonts/Comfortaa-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Kufi';
  src: url('../public/fonts/NotoKufiArabic-Regular.ttf');
  font-weight: 400;
}
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  font-family: 'Comfortaa', cursive !important;
}
body {
  background: #f0f4ff;
}

.rtl .home_en {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.rtl .circle_en {
  left: 0;
  right: auto;
}

.rtl .circle2_en {
  left: 320px;
  right: auto;
}

.rtl h1,
.rtl h2,
.rtl h3,
.rtl h4,
.rtl h5,
.rtl h6,
.rtl p,
.rtl li,
.rtl span,
.rtl ul,
.rtl li,
.rtl a,
.rtl button {
  font-family: 'Kufi' !important;
}

.rtl .bg-white {
  text-align: right !important;
}

html {
  scroll-behavior: smooth !important;
}

.container {
  @apply px-5;
}

.content_box h3 {
  @apply text-[#5C5C5C] md:text-[32px] text-[28px] leading-[1em] font-medium tracking-[0.5px];
}

.content_box p,
li {
  @apply text-[#5C5C5C] text-base font-medium;
}
.content_box div {
  @apply grid gap-3 py-3;
}

.content_box li {
  @apply list-disc list-inside;
}

.call_banner {
  font-size: 2.2rem;
  color: #ffffff;
}

.call_sub_banner {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 700;
}

.custom-shape-divider-bottom-1670924415 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1670924415 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1670924415 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1670927066 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1670927066 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
  transform: rotateY(0);
}

.custom-shape-divider-bottom-1670927066 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-top-1670933909 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1670933909 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1670933909 .shape-fill {
  fill: #ffffff;
}

#pricing .custom-shape-divider-bottom-1670924415 svg {
  transform: rotateY(0);
}

#pricing .custom-shape-divider-bottom-1670924415 .shape-fill {
  fill: #e2f0fb;
}

.flip .custom-shape-divider-bottom-1670927066 svg {
  transform: rotateY(180deg);
}

.main {
  background-color: transparent;
  background-image: linear-gradient(220deg, #9854ff 0%, #4529c7 100%);
}
.slick-track {
  padding-top: 50px;
}
.slick-dots {
  bottom: -60px !important;
}
.slick-dots li {
  width: 8px;
  height: 8px;
  margin: 0 6px !important;
}

.slick-dots li button:before {
  content: '' !important;
  background: #4529c7;
  border-radius: 40px;
  width: 14px !important;
  height: 14px !important;
}

.application .slick-track {
  padding-top: 1rem !important;
}
